body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-3xl: 22px;
  --font-size-sm: 14px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray: #a2a2a2;
  --color-gainsboro: #e4e4e4;
  --color-darkslateblue: #3a4980;
  --color-whitesmoke: #f3f3f3;
  --color-dimgray: #726c6c;
  --color-silver: #b9bbbf;
  --color-antiquewhite: #ecdecc;

  /* Gaps */
  --gap-lgi: 19px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-2xs: 11px;
  --gap-5xs: 8px;
  --gap-lg: 18px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-lgi: 19px;
  --padding-12xs: 1px;
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-10xl-5: 29.5px;
  --br-5xs: 8px;
  --br-13xl: 32px;
  --br-7xs: 6px;
}

.rect-icon {
  align-self: stretch;
  height: 691px;
  position: relative;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  flex: 1;
  justify-content: center;
  gap: var(--gap-xl);
}
.frame-wrapper {
  display: flex;
  justify-content: center;
  align-self: stretch;
  padding: 0 33px 0 34px;
  box-sizing: border-box;
}
.rect-parent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 37px;
  min-width: 382px;
  max-width: 100%;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.thumbnail.active {
  border: 2px solid blue;
}

.embrace-sideboard,
.marmeto {
  position: relative;
  display: inline-block;
}
.marmeto {
  text-decoration: none;
  color: inherit;
  min-width: 68px;
}
.embrace-sideboard {
  margin: 0;
  height: 34px;
  font-size: 28px;
  font-weight: 600;
  font-family: inherit;
  color: #000;
}
.marmeto-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.frame-div,
.title-divider {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
  max-width: 100%;
}
.title-divider {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
}
.description-span {
  position: relative;
  white-space: nowrap;
}
.off {
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.description-span-parent,
.off-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.off-wrapper {
  flex-direction: column;
  padding: 8px 0 0;
  font-size: var(--font-size-2xl);
  color: rgba(255, 0, 0, 0.5);
}
.description-span-parent {
  flex-direction: row;
  gap: 17px;
}
.description-end {
  position: relative;
  font-size: var(--font-size-2xl);
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  min-width: 107px;
  white-space: nowrap;
}
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.description-bottom-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: 34px;
  color: var(--color-darkslateblue);
}
.frame-container,
.frame-group {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-lg);
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.color {
  height: 19px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 118px;
}
.color-swatch {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 100%;
}
.vector-stroke-icon {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 23.8px;
  height: 19.4px;
  z-index: 1;
}


.color-option {
  height: 50px;
  flex: 1;
  position: relative;
  width: 50px;
}

.color-parent {
  height: 96px;
  width: 292px;
  display: flex;
  flex-direction: column;
}

.frame-parent4 {
  height: 64px;
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.color-box {
  height: 48px;
  width: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.color-box-out1,
.color-box-out2,
.color-box-out3,
.color-box-out4.selected{
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-box-out1.selected {
  border: 4px solid #ECDECC;
}

.color-box-out2.selected{
  border: 4px solid #BBD278;
}

.color-box-out3.selected{
  border: 4px solid #BBC1F8;
}

.color-box-out4.selected{
  border: 4px solid #FFD3F8;
}

.clr1 {
  background-color: #ECDECC;
}

.clr2 {
  background-color: #BBD278;
}

.clr3{
  background-color: #BBC1F8;
}

.clr4{
  background-color: #FFD3F8;
}

.frame-child1 {
  position: absolute;
  width: calc(100% - 14px);
  top: 7px;
  right: 7px;
  left: 7px;
  background-color: #bbd278;
  height: 50px;
}
.frame-child2 {
  border-radius: var(--br-13xl);
  z-index: 1;
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.frame-child3 {
  position: absolute;
  width: calc(100% - 14px);
  top: 7px;
  right: 7px;
  left: 7px;
  background-color: #bbc1f8;
  height: 50px;
}
.frame-child4 {
  border-radius: var(--br-13xl);
  z-index: 1;
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.color-picker-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.size {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 109px;
}
.small-size-thumbnail-rect {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 25px;
  background-color: var(--color-darkslateblue);
  width: 10px;
  height: 10px;
}
.small-size-highlight {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  border: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.small-size-thumbnail-rect-parent {
  height: 16px;
  width: 16px;
  position: relative;
}

.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-3xs);
  background-color: #edf0f8;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.rectangle-wrapper {
  height: 16px;
  width: 16px;
  position: relative;
}

.rectangle-frame {
  height: 16px;
  width: 16px;
  position: relative;
}

.rectangle-wrapper1 {
  height: 16px;
  width: 16px;
  position: relative;
}

.frame-parent5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.frame-parent5 {
  align-items: flex-start;
  gap: var(--gap-2xs);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.size-parent {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.frame-wrapper1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}

.quantity-delimiter {
  position: relative;
  display: inline-block;
  min-width: 9px;
  z-index: 1;
  cursor: pointer;
}
.quantity-separator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}

.quantity-separator.disabled {
  border-color: #ccc;
  color: #ccc;
  cursor: not-allowed;
}

.b,
.quantity-placeholder {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.quantity-placeholder {
  font-size: var(--font-size-3xl);
  min-width: 11px;
}
.b {
  min-width: 13px;
  cursor: pointer;
}
.quantity-separator1,
.rectangle-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.rectangle-parent1 {
  width: 169px;
  border-radius: var(--br-10xl-5);
  background-color: var(--color-whitesmoke);
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base) 24px var(--padding-base) 27px;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-child11 {
  height: 59px;
  width: 309px;
  position: relative;
  border-radius: var(--br-10xl-5);
  background-color: var(--color-darkslateblue);
  display: none;
}
.add-cart-button-bag {
  height: 21px;
  width: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 21px;
  z-index: 1;
}
.add-to-cart {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.add-to-cart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.cart-button,
.group-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) 20px var(--padding-lgi) 21px;
  background-color: var(--color-darkslateblue);
  flex: 1;
  border-radius: var(--br-10xl-5);
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 114px;
}
.cart-button {
  width: 497px;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.cart-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.cart-button-parent,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cart-button-parent {
  flex: 1;
  flex-direction: column;
  gap: 31px;
}
.frame-wrapper2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-9xs) var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue);
}
.blank-line,
.the-embrace-sideboard {
  margin: 0;
}
.the-embrace-sideboard-container {
  margin: 0;
  width: 558px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 28px;
  font-weight: 300;
  font-family: inherit;
  color: var(--color-darkgray);
  display: inline-block;
  max-width: 100%;
}
.default-design,
.default-design-inner,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 29px;
  max-width: 100%;
}
.default-design,
.default-design-inner {
  box-sizing: border-box;
}
.default-design-inner {
  flex: 1;
  flex-direction: column;
  padding: 6px 0 0;
  min-width: 382px;
  max-width: 100%;
}
.default-design {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-61xl) var(--padding-61xl) 101px;
  gap: 106px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-silver);
  font-family: var(--font-inter);
}

.message{
  height: 30px;
  width: 100%;
  padding: 10px;
  background-color: #E7F8B7;
  color: #000;
  border-radius: 10px;
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .default-design {
    gap: 53px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media (max-width: 1050px) {
  .description-span {
    font-size: 27px;
  }

  .thumbnail {
    width: 25%;
  }
}

@media (max-width: 897px) {
  .rect-icon {
    max-width: 100%;
  }
  .thumbnail {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .rect-parent {
    gap: var(--gap-lg);
    min-width: 100%;
  }
  .cart-button,
  .frame-parent5 {
    flex-wrap: wrap;
  }
  .cart-button-parent {
    gap: 15px;
  }
  .default-design-inner {
    min-width: 100%;
  }
  .default-design {
    gap: 26px;
  }

  .thumbnail {
    width: 20%;
  }
  .the-embrace-sideboard-container {
    font-size: var(--font-size-mid);
  }
}

@media (max-width: 450px) {
  .embrace-sideboard {
    font-size: var(--font-size-3xl);
  }
  .description-span {
    font-size: var(--font-size-xl);
  }
  .description-end,
  .off {
    font-size: var(--font-size-mid);
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .quantity-placeholder {
    font-size: var(--font-size-lg);
  }
  .the-embrace-sideboard-container {
    font-size: var(--font-size-sm);
    line-height: 22px;
  }
  .thumbnail {
    flex: auto;
    width: 40px;
  }
  .cart-button{
    width: 100%;
  }
  .rectangle-parent1{
    width: 42%;
  }
  .add-to-cart {
    font-size: var(--font-size-sm);
  }
  .message{
    height: 40px;
}
  
}

@media (max-width: 370px) {
  .thumbnail {
    width: 30px;
  }
  .message{
      height: 40px;
      font-size: 0.7rem;
  }

  .embrace-sideboard {
    font-size: var(--font-size-1xl);
  }
}
